/*Darq*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

@media (min-width: 500px) {

}

@media (max-width: 500px) {

}

@media (min-width: 500px) {

}

@media (min-width: 768px) {

}
