/*Darq*/

.menu_icon {
    width: 20%;
    float: left;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 0px;
}

.img_menu_1 {
    width: 30px;
}

.dropdown-menu {
    min-width: 0px!important;
}

.anti-shadow-div {
    display: table;
    overflow: hidden;
    width: 384px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.navigation-content {
    background: #ffffff;
    width: 297px;
    height: 110vh;
    box-shadow: 10px 0px 23px -7px black;
}

.navigation__header {
    height: 105px;
}

.img_menu_2 {
    width: 30px;
    position: fixed;
    top: 43px;
    left: 217px;
    margin: 0 !important;
}

.navigaton__list {
    float: right;
}

.list-item-p {
    display: block;
    color: #000000;
    font-size: 0.9em;
    width: 185px;
    border-bottom: 1px solid #b7b7b7;
    line-height: 50px;
    padding-left: 20px;
}

.list-item-p:hover {
    background-color: #00672D;
    border-left: 5px solid #7E7E7E;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    padding-left: 15px;
}

.border_top {
    border-top: 1px solid #b7b7b7;
}

.list-item__link, .list-item__link:visited, .list-item__link:hover, .list-item__link:focus {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .menu_icon {
        margin-bottom: 60px;
    }
    .navigation-content {
        width: 227px;
    }
    .img_menu_2 {
        width: 30px;
        position: fixed;
        top: 24px;
        left: 160px;
        margin: 0 !important;
    }
    .navigation__header {
        height: 65px;
    }
}

@media (max-width: 500px) {
    .menu_icon {
        display: none;
    }
    .mobile_menu {
        display: unset;
    }
    .mobile_menu ul {
        position: relative;
        float: unset;
        border-radius: 0px;
        padding: 0;
        margin: 0;
    }
    .navigaton__list {
        width: 100%;
    }
    .list-item-p {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .mobile_menu img {
        margin: -61px 0 0 30px;
    }
    .list-item-p:hover {
        border: 0px;
        padding: 0px;
    }
}

@media (min-width: 500px) {
    .mobile_menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .navigation__header {
        height: 105px;
    }
}
