*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    font-size: 10px;
}

#container {
    width: 1170px;
    margin: 0 auto;
    background-color: #ffffff;
}
[class *= "col-"]{
    float: left;
    padding: 15px;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
}

.contact__headline {
    color: #046722;
    text-align: center;
    font-size: 3.6em;
}

.social__icons {
    display: block;
    position: relative;
}

.social__icons ul {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social__icons li {
    list-style: none;
    font-size: 2em;
    line-height: 3em;
}

.social__icons a {
    text-decoration: none;
    color: #000000;
}

.form, .social__icons {
    float: left;
    width: 50%;
    height: 50em;
}

.form {
    position: relative;
}

form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
}

label {
    color: #000000;
    font-size: 2em;
    display: block;
}

textarea {
    width: 350px;
    height: 134px;
    border-radius: 4px;
}

.input {
    width: 350px;
    border-radius: 4px;
}

.submit {
    display: block;
    margin: 20% 30%;
    font-size: 1.8em;
    padding: 0.6em 4em;
    background-color: #046722;
    color: #ffffff;
    border-radius: 0.8em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}

.clear {
    clear: both;
}

.rights {
    background-color: #c83a31;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big {
    text-transform: uppercase;
}