body {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    box-sizing: border-box;
    font-size: 10px;
}

#container {
    width: 1170px;
    margin: 0 auto;
    background-color: #ffffff;
}
footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
}

.contact__headline {
    text-transform: uppercase;
    color: #046722;
    text-align: center;
    font-size: 3.6em;
}
.social__icons{
    display: block;
}

.social__icons li {
    list-style: none;
    color: #000000;
    font-size: 2em;

}
.form, .social__icons{
    float: left;
    width: 50%;
    height: 40em;
}

label {
    color: #000000;
    font-size: 2em;
    display: block;
}
.submit{
    display: block;
    margin: 20% 50%;
    font-size: 1.8em;
    padding: 1em 4em;
    background-color: #046722;
    color: #ffffff;
    border-radius: 0.8em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;

}
.clear{
    clear: both;
}

.rights {
    max-width: 100%;
    background-color: #c83a31;
    text-align: center;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
}

.big {
    text-transform: uppercase;
}